@if (TempData["Success"] != null)
{
    <div class="alert alert-success notification">
        <h2 class="text-center">@TempData["Success"]</h2>
    </div>
}
@if (TempData["Error"] != null)
{
    <div class="alert alert-danger notification">
        <h2 class="text-center">@TempData["Error"]</h2>
    </div>
}
